.pie-chart-container {
  max-width: 100%;
}
.pie-chart-wrapper {
  max-width: 100%;
}

.pie-chart-wrapper canvas {
  width: 100% !important;
  height: auto !important;
}

.pie-chart-container {
  width: 100%;
  padding-left: 0px;
}
