.pie-chart-container {
  width: 100%; /* Make the container take full width */
}
.pie-chart-wrapper {
  max-width: 70%; /* Limit the maximum width of the chart */
}

.pie-chart-wrapper canvas {
  width: 100% !important; /* Ensure the canvas takes the full width of its container */
  height: auto !important; /* Adjust the height automatically to maintain aspect ratio */
}

h2 {
  text-align: center;
}
